
<div class="page-wrapper">

  <h1 class="header-title"> Sign up complete </h1>
  <img src="https://media.giphy.com/media/WS3i2y88foYpE584rI/giphy.gif" alt="funny-gif"/>
  <h3> Thank you for signing up!</h3>
  <h4> You're all set now. </h4>
  <a href="/myprofile" class="buttons"> My profile </a>

  <div class="footer-buttons">
    <a href="/" class="buttons"> Back home </a>
  </div>

</div>
